html, body, .main {
  height: 100%;
}
.main {
  background-color: #36393f;
  display: flex;
  flex-flow: row nowrap;
  border-color: red;
  min-height: 100vh;
  align-items: stretch;
}

.serversListContainer {
  background-color: #202125;
  flex: 0 0 70px;
  order: 1;
  overflow-y: scroll;
}

.channels_container {
  background-color: #2f3136;
  flex: 0 0 240px;
  order: 2;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.channels_header_parent {
  display: flex;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-bottom:1px solid #00000033;
  border-width: thin;
  margin-bottom: 20px;
  justify-content: center;
}

.channels_servername_header {
  color: #fff;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;

  line-height: 48px;
  text-align: justify;
}

.text_channels_head_parent {
  font-family: 'Catamaran', sans-serif;
  font-size: 12px;
  display: flex;
  line-height: 15px;
  text-align: center;
  padding-left: 15px;
}

.text_channels_header {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #7c7d80;
  font-size: 12px;
}

.channels_ul {
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 16px;
  font-weight: 600;
  padding-left: 1em;
}

.channels_container ul li {
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 16px;
}

.channels_container ul li:hover {
  color: #f6f6f7;
}

.messages_container {
  flex: 4, 4, 200px;
  order: 3;
  align-self: stretch;
  overflow-y: scroll;
  float: right;
}



.serverIndexItem {
  margin: 10px;
}

.serverLabel {
  visibility: hidden;
  position: absolute;
}

.serverIndexItem img {
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  vertical-align: middle;
  transition: border-radius .4s;
}

.serverIndexItem img:hover {
  border-radius: 25%;
  background-color: #00b0f4;
}

// .serverLabel:hover {
//   visibility: visible;
//   position: absolute;
//   left: 70px;
//   visibility: visible;
//   background: black;
//   border-radius: 5%;
//   color: #f6f6f7;
//   font-family: 'Catamaran', sans-serif;
//   font-size: 13px;
//   padding: 5px;
//
// }

.single_channel_text {
  padding: 5px;
  align-self: center;
}

.single_channel_text:hover {
  background-color: #42464d;
  color: #595c62;
}
.single_channel_text a {
  text-decoration: none;
  color: #727676;
  font-size: 15px;
}

.single_channel_text a:focus {
  background-color: #42464d;
  color: #f6f6f7;
}

.channel_header {
  color: #fff;
  justify-content: center;
  min-height: 48;
  flex: 0, 0, 240px;
}

.membersListContainer {
  background-color: #2f3136;
  flex: 0 0 240px;
  order: 4;
  overflow-y: scroll;
  align-content: center;
}

.memberIndexItem img {
  border-radius: 50%;
  display: flex;
  height: 30px;
  width: 30px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}

.membersListContainer ul li span {
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 17px;
  display: inline-block;
}

.memberListContiner ul {
  align-content: center;
}

.members_container ul li span:hover {
  color: #f6f6f7;
  background-color: rgb(47, 49, 54);
}
