html, body, .main {
  height: 100%;
}
.main {
  background-color: #36393f;
  display: flex;
  flex-flow: row nowrap;
  border-color: red;
  min-height: 100vh;
  align-items: stretch;
}

.serversListContainer {
  background-color: #202125;
  flex: 0 0 70px;
  order: 1;
  overflow-y: scroll;
}

.channels_container {
  background-color: #2f3136;
  flex: 0 0 240px;
  order: 2;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.channels_header_parent {
  display: flex;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-bottom:1px solid #00000033;
  border-width: thin;
  margin-bottom: 20px;
  justify-content: center;
}

.channels_servername_header {
  color: #fff;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;

  line-height: 48px;
  text-align: justify;
}

.text_channels_head_parent {
  font-family: 'Catamaran', sans-serif;
  font-size: 12px;
  display: flex;
  line-height: 15px;
  text-align: center;
  padding-left: 15px;
}

.text_channels_header {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #7c7d80;
  font-size: 12px;
}

.channels_ul {
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 16px;
  font-weight: 600;
  padding-left: 1em;
  flex-grow: 1;
}

.channels_container ul li {
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 16px;
}

.channels_container ul li:hover {
  color: #f6f6f7;
}

.message_parent_div {
  flex: 4 4 200px;
  order: 3;
  align-self: stretch;
  overflow-y: scroll;
  float: right;
  display: flex;
  flex-direction: column;
}

.message_header_parent {
  display: flex;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-bottom:1px solid #00000033;
  border-width: thin;
  margin-bottom: 20px;
  justify-content: left;
  padding-left: 50px;
}

.message_header_parent span {
  color: #fff;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 48px;
  text-align: justify;
}


.messages_ul {
  max-height: 585px;
  flex-grow: 2;
  color: #dcddde;
  font-family: 'Catamaran', sans-serif;
  font-size: 0.9375rem;
  word-wrap: break-word;
  margin: 20px 20px 20px 20px;
  overflow-y: scroll;
}

.messages_ul li {
  margin: 15px 10px 15px 30px;
  border-top: solid 0.5px #727676;
  padding-top: 12px;
}

.message_parent_div form {
  height: 95px;
  max-width: 849px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 15px;

}

.body_input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  text-decoration: none;

  flex: 2 2 auto;
  order: 2;
  background-color: #484c51;
  font-family: 'Catamaran', sans-serif;
  color: #ffffffb3;
  margin: 20px 15px 20px 0px;
  width: 100%;
  border-radius: 0px 5px 5px 0px;
  line-height: 100%;
  padding: 22px;
  font-size: 0.9375rem;
}

.body_input textarea {
  margin: 2px 2px 2px 0px;
  font-family: 'Catamaran', sans-serif;
  color: #ffffffb3;
  font-size: 0.9375rem;
  height: auto;
  padding: 10px;
  padding-left: none;
}

.plus_button_message {
  background-color: #484c51;
  font-family: 'Catamaran', sans-serif;
  font-size: 100%;
  background-color: #fff;
  align-self: center;
  border-radius: 50%;
  color: #ffffffb3;
  opacity: 3;
}

.create_message_button {

  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  text-decoration: none;

  flex: 0 0 40px;
  order: 1;
  background-color: #484c51;

  background-color: #484c51;
  font-family: 'Catamaran', sans-serif;
  color: #ffffffb3;
  margin: 20px 0px 20px 10px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  line-height: 100%;
  padding: 22px;
  font-size: 0.9375rem;
}


.serverIndexItem {
  margin: 10px;
}

.serverLabel {
  visibility: hidden;
  position: absolute;
}

.serverIndexItem img {
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  overflow: hidden;
  vertical-align: middle;
  transition: border-radius .4s;
}

.serverIndexItem img:hover {
  border-radius: 25%;
  background-color: #00b0f4;
}

// .serverLabel:hover {
//   visibility: visible;
//   position: absolute;
//   left: 70px;
//   visibility: visible;
//   background: black;
//   border-radius: 5%;
//   color: #f6f6f7;
//   font-family: 'Catamaran', sans-serif;
//   font-size: 13px;
//   padding: 5px;
//
// }

.single_channel_text {
  padding: 5px;
  align-self: center;
}

.single_channel_text:hover {
  background-color: #42464d;
  color: #595c62;
}
.single_channel_text a {
  text-decoration: none;
  color: #727676;
  font-size: 15px;
}

.single_channel_text a:focus {
  background-color: #42464d;
  color: #f6f6f7;
}

.channel_header {
  color: #fff;
  justify-content: center;
  min-height: 48;
  flex: 0, 0, 240px;
}

.membersListContainer {
  background-color: #2f3136;
  flex: 0 0 240px;
  order: 4;
  overflow-y: scroll;
  justify-content: center;
}

.membersListContainer h3 {
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 17px;
  margin-left: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;

}

.memberIndexItem img {
  border-radius: 50%;
  display: flex;
  height: 30px;
  width: 30px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  margin: 8px;
}

.membersListContainer ul li span {
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 17px;
  display: inline-block;
}

.memberListContiner ul {
  align-content: center;
}

.members_container ul li span:hover {
  color: #f6f6f7;
  background-color: rgb(47, 49, 54);
}

.user_profile {
  color: #fff;
  display: flex;
  align-items: center;
  min-width: 230px;
  flex: 0 2 52px;
  background-color: #2022254d;
  padding-left: 10px;
}

.user_profile img {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.user_profile span {
  justify-content: flex-end;
  display: inline-block;
  align-self: center;
  padding-left: 10px;
  font-family: 'Catamaran', sans-serif;
  color: #7c7d80;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}

.logout_button {
  border-radius: 10%;
  background-color: #2b2c31;
  text-decoration: none;
  border: none;
  color: rgb(240, 71, 71);
  margin-left: 50px;
}

.logout_button:hover {
  background-color: rgba(240, 71, 71, 0.1);
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus_button {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  background-color: #202125;
  border-color: #72767d;
  border-style: dashed;
  color: #72767d;
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  font-size: 100%;
  overflow: hidden;
  vertical-align: middle;
  align-self: center;
  text-align: center;
  margin: 10px;
  transition: border-color .1s ease-in;
  cursor: pointer;
}

.plus_button:hover {
  border-color: #fff;
  color: #fff;

}

.plus {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 5px;
}

.server_form_div_par {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 520px;

  min-height: 420px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.server_form_header {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  color: #7289DA;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 2;
  margin-bottom: 20px;
}

.server_form_subhead {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  color: #99aab5;
  margin: 5px 100px 30px 100px;
  display: block;
  text-align: center;
}

.create_server_button[type="submit"] {
  border-radius: 3px;
  background-color: #7289DA;
  color: #fff;
  height: 36px;
  min-width: 70px;
  font-weight: 400;
  padding: 8px 0px 30px 0px;
  transition: background-color .2s ease-in;
  cursor: pointer;
  float: right;
}

.create_server_button[type="submit"]:hover {
  background-color: #4e5d94;
}

.server_form_div_par form label {
  text-transform: uppercase;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  color: #87909c;
  display: block;
  margin-bottom: 20px;
}

.server_form_div_par form input {
  width: 242px;
  height: 37px;
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #f0f0f0;
}

.server_form_div_par form input:focus {
  border: none;
  border-bottom: 2px solid #7289DA;
}

.channel_form_div_par {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 400px;
  padding: 20px;
  background-color: #303339;
  border-radius: 5px;
}

.channel_form_header {
  display: block;
  width: 400px;
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
  margin: 20px 0px 20px 0px;
  font-family: 'Catamaran', sans-serif;
  letter-spacing: .5px;
  text-align: left;
  justify-content: left;
  position: relative;
  text-transform: uppercase;
}

.channel_form_header p {
  font-weight: 100;
  font-size: 12px;
  margin-top: 5px;
  text-transform: capitalize;
}

.channel_form_div_par label {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #99AAB5;
  min-width: 400px;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}

.channel_form_div_par label input {
  max-height: 40px;

  background-color: #36393f;
  border: solid #181b1d .5px;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 12px 0;
  width: 400px;
}

.create_channel_button[type=submit] {
  background-color: #7289DA;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  max-height: 44px;
  min-width: 100px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin: 8px 0 ;
  text-transform: capitalize;
  box-sizing: border-box;
  padding: 10px 10px;
  float: right;
}

.channel_name_input {
  max-height: 40px;

  background-color: #36393f;
  border: solid #181b1d .5px;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 12px 0;
}

.channel_name_input:hover {
  border: solid black 1.25px;
}

.channel_name_input:focus {
  border: solid #7289DA .5px;
}

.channel_add_button {
  border: none;
  background-color: #2f3136;
}

.channel_add_plus {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #727676;
  padding: 0 0px 10px 100px;

}

.members_header_parent {
  display: flex;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #00000033;
  border-width: thin;
  margin-bottom: 20px;
  justify-content: left;
  padding-left: 50px;
  width: 240px;
  height: 49px;
  background-color: #36393f;
}
