html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-image: image-url('session_background_scene.jpg');
  background-position: bottom;
}

textarea, select, input, button { outline: none; }

.session-header {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: .5px;
  text-align: center;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}

.session-header h2 {

  font-size: 26px;
  font-weight: 100;
  color: #ffffff;
  margin: 20px 0px 20px 0px;
}

.session-header h3 {
  font-size: 18px;
  font-weight: 200;
  color: #72767d;
  margin: 20px 40px 20px 40px;
}

.session-form-container {
  margin: auto;
  min-height: 424px;
  max-width: 480px;
  background-color: #3d4046;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  top: 25%;
  right: 52%;
  border-radius: 5px;
  box-shadow: -1px 2px 30px #181b1d;
}

.session-form-container form {
  margin: 0 20px 0 20px;
}

.session-form-container label {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #99AAB5;
  min-width: 400px;
  margin: 10px 0 0 0;
}

.session-input {
  max-height: 40px;

  background-color: #36393f;
  border: solid #181b1d .5px;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 12px 0;
}

.session-input:hover {
  border: solid black 1.25px;
}

.session-input:focus {
  border: solid #7289DA .5px;

}

input[type=submit] {
  background-color: #7289DA;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  max-height: 44px;
  min-width: 400px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin: 8px 0 ;
  text-transform: capitalize;
  box-sizing: border-box;
  padding: 10px 10px;
}

input[type=submit]:hover {
  background-color: #6778b5;
}

.navLink {
  display: flex;
  margin: 10px 0 0 2px;
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  color: #72767d;
}

.navLink a {
  margin-left: 2px;
  color: #7289DA;
  font-weight: 600;
}

.errors li {
  max-height: 40px;

  background-color: #36393f;
  border: solid red .5px;
  border-radius: 4px;
  padding: 8px;
  color: red;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  box-sizing: border-box;
  margin: 12px 0;
  text-align: left;
}
