html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-image: image-url('session_background_scene.jpg');
  background-position: bottom;
}

textarea, select, input, button { outline: none; }

.session-header {
  font-family: 'Catamaran', sans-serif;
  letter-spacing: .5px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.session-header h2 {
  font-size: 26px;
  font-weight: 100;
  color: #ffffff;
  margin: 20px 0px 20px 0px;
}

.session-header h3 {
  font-size: 18px;
  font-weight: 200;
  color: #72767d;
  margin: 20px 50px 20px 50px;
}

.session-form-container {
  margin: auto;
  min-height: 480px;
  max-width: 424px;
  background-color: #3d4046;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  padding: 20px;


  // font-weight: lighter;
  // font-size: 12px;
  // color: #f6f6f1;

}

.session-form-container, label {
  font-size: 12px;
  display:inline-block;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  color: #99AAB5;
  margin: 5px;
}

.session-input {
  max-height: 40px;
  min-width: 400px;
  background-color: #36393f;
  border: solid #181b1d .5px;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  font-weight: 400;
  box-sizing: border-box;
}

.session-input:hover {
  border: solid black .5px;
}

.session-input:focus {
  border: solid #7289DA .5px;
}

input[type=submit] {
  background-color: #7289DA;
  display: inline-block;
  font-size: 15px;
  font-weight: 400px;
  font-family: 'Catamaran', sans-serif;
  max-height: 40px;
  min-width: 400px;
  color: #ffffff;
  border: none;

}
input[type=submit]:hover {
  background-color: #6778b5;
}
